.wrapper_blog{
    margin: 80px 0px 120px 0px;

    padding-left: 250px;
    padding-right: 250px;
    
}

.container_title{
    margin-top: 100px;
    margin-bottom: 50px;
}

.container_title h2{
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 44px;
    color: #21243D;
}


@media (max-width:1300px){
    .wrapper_blog{
        padding: 20px;
    }

    .container_title
    {
        padding-left: 20px;
        margin-top: 0px;
    }
}